.button {
  @include font-medium(18px, auto);
  display: block;
  text-align: center;
  text-decoration: none;

  &--transparent {
    border: 1px solid #598d66;
    background-color: transparent;
    color: #598d66;
  }

  &--light {
    background-color: #EEDB6D;
    @include font-medium(18px, auto);
  }
}
